@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f5f7fb;
  background-image: url("../public/bottom_left.png"),
    url("../public/top_right.png");
  background-repeat: no-repeat;
  background-position: left bottom, right top;
  color: #293264;
  font-family: "Karla", sans-serif;
}
.navbar {
  background: #4d5b9e;
  color: white;
  margin: 0;
  padding: 0;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.main {
  padding: 40px 60px;
  text-align: center;
  width: 90vw;
  margin: 0 auto;
}
.main-container {
  margin: 0 auto;
  width: 500px;
}
.question-block {
  border-bottom: 1px solid #dbdef0;
  margin: auto;
}
.question {
  font-family: Karla;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
  margin: 12px 0px;
}
.options {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.option,
.selected-option,
.correct-option,
.wrong-option {
  border: 1px solid #4d5b9e;
  padding: 6px 13px;
  width: max-content;
  border-radius: 15px;
  cursor: pointer;
  white-space: nowrap;
  margin-bottom: 15px;
  margin-right: 17px;
}
.selected-option {
  background: #d6dbf5;
}
.correct-option {
  background: #94d7a2;
}
.wrong-option {
  background: #f8bcbc;
}
.option-text {
  font-size: 12px;
  text-transform: capitalize;
}
.score {
  margin-top: 20px;
}
.submit {
  width: 120px;
  height: 35px;
  background: #4d5b9e;
  border-radius: 10px;
  color: white;
  border: none;
  margin-top: 30px;
}
@media screen and (max-width: 667px) {
  .body {
    font-size: small;
  }
  .main {
    padding: 20px 10px;
    text-align: center;
    width: 90vw;
    margin: 0 auto;
  }
  .main-container {
    margin: 0 auto;
    width: 80vw;
  }
}
